<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Product</title>
<style type="text/css">
body{
background-image:url("/bg.jpeg");
background-repeat:no-repeat;
background-size: cover;

 
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:black;
  color:  #ddd;
}

.topnav a.active {
  background-color: red;
  color: white;
}

.topnav-right {
  float: right;
}
</style>
</head>

<body>

	<div class="topnav">
   <a th:href="@{/Adminlogin}" class="active">Admin</a>
  <a th:href="@{/about}">About Us</a>
  <a th:href="@{/}">bla</a>
  <div class="topnav-right">
    <a href="#search">LogOut</a>
    <a th:href="@{/Cart}">Cart</a>
  </div></div>
	

	<br>
	<br>

	<div class = "container">
		<div class = "row" style="text-align:center;">
			<div class = "col-md-6 col-md-offset-3">


</head>
<body>
<div align="center">
 <h1>Edit FoodItem</h1>
 <br />
 <form action="#" th:action="@{'/save/'}" th:object="${foodItem2}" method="post">
 <table border="1" cellpadding="10">
 <tr>
 <td>Food Id :</td>
 <td><input type="text" th:field="*{id}" readonly = "readonly"></td>
 </tr>
 
 <tr>
 <td>Food Name :</td>
 <td><input type="text" th:field="*{name}"></td>
 </tr>
 
 
 
 <tr>
 <td> FoodPrice :</td>
 <td><input type="text" th:field="*{price}"></td>
 </tr>
 
 <tr>
 <td colspan="2">
 <button type="submit">save</button></td>
 </tr>
</table>
</form>
</div>
</body>
</html>