<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>Registration</title>
		<style type="text/css">
body{
background-image:url("/bg.jpeg");
background-repeat:no-repeat;
background-size: cover;

 
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:black;
  color:  #ddd;
}

.topnav a.active {
  background-color: red;
  color: white;
}

.topnav-right {
  float: right;
}
</style>
</head>

<body>

	<div class="topnav">
   <a th:href="@{/Adminlogin}" class="active">Admin</a>
  <a th:href="@{/about}">About Us</a>
  <a th:href="@{/}">bla</a>
  <div class="topnav-right">
    <a href="#search">LogOut</a>
    <a th:href="@{/Cart}">Cart</a>
  </div></div>
	

	<br>
	<br>

	<div class = "container">
		<div class = "row" style="text-align:center;">
			<div class = "col-md-6 col-md-offset-3">
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to app!</div>
				</div>
<br>
				<h1>Registration</h1>

				<form th:action="@{/registration}" method="post" th:object="${user}">
					<div class="form-group">
						<label class="control-label" for="firstName"> First Name </label>
						<input id="firstName" class="form-control" th:field="*{firstName}" required
							autofocus="autofocus" />
					</div>

					<!-- <div class="form-group">
						<label class="control-label" for="userRole"> userRole </label> <input id="userRole"
							class="form-control" th:field="*{userRole}" required autofocus="autofocus" />
					</div> -->
					<div class="form-group" style="display:none;">
						<label class="control-label" for="userRole"> userRole </label>
								<select name="user-role" id="user-role" th:field="*{userRole}">
								  <option value="Client">Client</option>
								  <option value="Admin">Admin</option>
								 </select>
								</div>
<br>
					<div class="form-group">
						<label class="control-label" for="email"> Email </label> <input id="email" class="form-control"
							th:field="*{email}" required autofocus="autofocus" />
					</div>
<br>
					<div class="form-group">
						<label class="control-label" for="password"> Password </label> <input id="password"
							class="form-control" type="password" th:field="*{password}" required
							autofocus="autofocus" />
					</div>
<br>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>